html{

    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
body{
    font-size: 22px;
    line-height: 32px;
   
    font-family: 'Open Sans',sans-serif;

   
}
nav{
   
    background-color: #3da0e7;
}
nav ul {
    
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li{
   
     display: inline-block; 
    background-color: #0e0f0f;
    
}
nav a{
    

     display:block; 
    line-height: 60px;
    font-size: 13px;
    padding: 0 10px;
    color: rgb(4, 7, 49);
    text-decoration: none;

   
    
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav a:hover{
    background-color: #000000;
}

nav ul li:hover > ul {
    display: inherit;
}

nav ul ul li{
    width: 150px;
    position: relative;
    float: none;
    display: list-item;
  

}


#logo {
    float: left;
    width: 60px;
  }

nav ul ul ul li {
    position: relative;
    left: 170px;
    top: -60px;
}

li > a::after { content: ' ';}
li > a:only-child::after {
    content: '';
}