
<nav class="navbar navbar-expand-md  navbar-dark fixed-top bg-info">
    
    <div class="container"> 
        <img src="assets\GAClogo.png" id="logo" >
        <!-- <a class=" bg-info" width="55">GAClogins</a> -->
                      <!-- <div class  ="container"> -->
            <!-- <nav > -->
               

                

                
                <ul >
                    <li><a href="" class=" bg-info">DashBoard</a></li>
                    <li><a href="" class=" bg-info">Clearance</a></li>
                    <li><a href="" class=" bg-info">CustomerService</a></li>
                    <li><a href="" class=" bg-info">Transportation</a></li>
                    <li><a href="" class=" bg-info">Pricing</a></li>
                    <li><a href=""class=" bg-info">Master</a></li>
                    <li><a href=""class=" bg-info">Admin</a>
                    <!--Fridt Tier Drop Down-->
                    <ul>
                        <li><a href="" class=" bg-info">Users</a></li>
                        <li><a href="" class=" bg-info">CompanyControl</a></li>
                        <!-- <li><a href=""></a></li>
                    </ul>
                    <li><a href=""></a>
                    
                        <!--First Tier Drop Down-->
                        <!-- <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a>
                            
                              
                                <ul>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a></li>
                                    <li><a href=""></a>
                                    
                                       
                                        <ul>
                                            <li><a href=""></a></li>
                             <li><a href="">*</a></li>
                                            <li><a href=""></a></li>
                                       
                                        </ul>
                                    
                                    </li>
                                </ul>
                            
                            </li>
                        </ul>
                    
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li> --> 
               
        
                    </ul>
                </ul>
            <!-- </nav> -->
        </div><!--End HTML Code-->
        
        
         
       
     <!-- </div> -->
     
   </nav>






 
      
      


  
